@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
img{
	max-width: 100%;
}
body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}
header{
	background-color: white;
	padding: 15px 0;
}
.container{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}


.logo{}
.logo img {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}
.about-section{
	    padding: 50px 0px;
}
.about-section h1{
	font-size: 110px;
    line-height: 1;
    text-transform: capitalize;
    font-variant-caps: petite-caps;
     margin-bottom: 50px
}
.about-section p{
	font-size: 30px;
    max-width: 700px;
    font-weight: 700;
}

/* geospatial-section*/
.geospatial-section{
	margin-bottom: 50px;
}
.content{
	    width: 70%;
    	float: left;
    	padding-right: 100px;
}
.content h2{
	    font-size: 80px;
    margin-bottom: 30px;
}
.content p{
	font-size: 20px;
    font-weight: 100;
    margin-bottom: 30px;
}
.content h3 {
	    font-size: 40px;
    	margin-bottom: 20px;
}

.content-img{
	width: 30%;
    float: left;
}
.content-img img{}

/*usa section*/
.usa-section{
	margin-bottom: 50px;
}

/*client section*/
.client-section{
	padding: 100px 0;
}
.heading{
	margin-bottom: 50px;
}
.heading hr{
	    width: 70px;
    	display: inline-block;
    	vertical-align: middle;
    	border-color: #ead3d3;
    	border-width: thin;
}
.heading span{
	color: #b7adad;
}
.heading h4{
	font-size: 50px;
	text-transform: capitalize;
	    max-width: 800px;
}
.Clients-img img{
	    width: 16.66%;
    float: left;
}
/*feature section*/
.feature-section{
	padding: 50px 0
}
.features{
	width: 33.33%;
    float: left;
    padding: 0 15px;
}
.features img{}
.features h4{
	font-size: 30px
}

/*footer*/
footer{
	background-color: black;
    padding: 100px 0;
}
footer h6{
	font-size: 30px;
 	color: #fefcfc;
    padding-bottom: 70px;
    padding-top: 70px;
    color: white;
}
footer a{
	color: white;
    margin: 30px 0;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}
footer p{
	font-size: 20px;
    color: white;
}
footer p a{ 
	
   	color: white} 